html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
   Base
*/

html {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    color: #333;
    line-height: 1.3;
    word-wrap: break-word;
    font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	background-color: #ecc5c5;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: middle;
    -webkit-touch-callout: none;
}
ol, ul, li { list-style: none; }
span, i { display: inline-block; }
input, textarea, button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    -webkit-appearance: none;
}
input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*
   Main
*/

.wrapper {
    padding: 30px 200px 37px;
}
.main-title {
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 70px;
    color: #ffffff;/*文字色*/
    background: rgb(122, 165, 230);
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
    text-align: center;
}
.board-title {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 3px black;
}
.baord-list {
}
.baord-list__item {
}
.board {
    margin-top: 10px;
    margin: 2em 1em;
    display: block;
    padding: 10px;
    border: 2px solid #996633; /*線の太さ・色*/
    background-color: #fff; /*背景色*/
    box-shadow: -2px 5px 5px #e8d3c7; /*影*/
    border-radius: 20px; /*角の丸み*/
}
.board__title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.board__date {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: right;
}
.white-bg {
    padding: 10px;
    border: 1px #ccc solid;
    background-color: #fff;
}
.message-list {
}
.message-list__item {
    margin-top: 10px;
    padding: 1.5em 2.5em;
    margin: 2em 0;
    color: #000000;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}
.message-list__item:first-child {
    margin-top: 0;
}
.message__image {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
    background-size: cover;
    background-position: center;
}
.message__user {
    font-size: 14px;
    color: rgb(24, 22, 22);
    text-align: left;
}
.message__title {
    font-size: 17px;
}
.message__date {
    font-size: 10px;
    color: rgb(24, 22, 22);
    text-align: right;
}
.board-form {
    margin: 20px 0;
    text-align: center;
}
.login-title {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 3px black;
}
.login-user {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    border: double 5px #4ec4d3;
    background-color: rgb(172, 216, 236);
}
.not-login-user {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    border: double 5px #4ec4d3;
    background-color: rgb(172, 216, 236);
}
.login-btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 15px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.login-btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.register-title{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 3px black;
}
.register-btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 15px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.register-btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.input {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    vertical-align: middle;
    border: 3px #ccc solid;
    background-color: #fff;
}
.file-wrap {
    position: relative;
    padding: 10px 30px;
    margin: 4px auto 0;
    width: 200px;
    overflow: hidden;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    border-radius: 5px;
    background-color: #008b8b;
    box-sizing: border-box;
}
.file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.label {
  width: 100px;
  font-weight: bold;
}
.btn {
    display: inline-block;
    padding: 5px;
    margin: 10px 0 0 10px;
    border: 2px rgb(49, 47, 47) solid;
    border-radius: 5px;
    background-color: #fff;
}
.error {
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    color: #fff;
    background-color: #F08080;
}
.board-btn {
    display: inline-block;
    padding: 1em 2em;
    font-size: 15px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.board-btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.message-btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 15px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.message-btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
